fastapi==0.115.12
langchain==0.3.21
langchain_chroma==0.2.2
langchain_community==0.3.20
langchain_core==0.3.49
langchain_openai==0.3.11
openai==1.69.0
pydantic==2.11.1
python-dotenv==1.1.0
uvicorn==0.34.0
python-multipart==0.0.18
pymupdf>=1.23.8
